<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Your portfolio</h1>
    <p class="lead">Manage your portfolio</p>
  </div>
</header>

<div class="container portfolios">
  <div class="row">
    <div class="col-lg-12">
      <form name="stock-form">
        <div class="form-group">
          <label for="stockName">Stock name</label>
          <input type="text" ng-model="stock.name" class="form-control" id="stockName" placeholder="Enter name" ng-required="true">
        </div>
        <div class="form-group">
          <label for="stockSymbol">Stock symbol</label>
          <input type="text" ng-model="stock.symbol" class="form-control" id="stockSymbol" placeholder="Enter symbol" ng-required="true">
        </div>

        <div class="form-group">
          <label for="stockAmount">Amount</label>
          <input type="number" ng-model="stock.amount" id="stockAmount" ng-required="true">
          <p class="help-block">Input the amount of stocks you have.</p>
        </div>
        <button class="btn btn-default" ng-click="saveStock()" id="addButton" ng-validate="stock-form.$validate()">Add</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table id="stocks-table">
        <thead>
          <tr>
            <th>name</th>
            <th>symbol</th>
            <th>amount</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stock in stocks">
            <td>{{ stock.name }}</td>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.amount }}</td>
          </tr>

        </tbody>

      </table>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
  </div>
</footer>
